* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px){
    * {
        font-size: 12px;
    }
    .account-module {
        width: 60%;
    }
    .flex-item {
        width: 100%;
    }
    .home-layout {
        margin: 10%;
    }
}

@media (min-width: 768px){
    * {
        font-size: 16px;
    }
    .account-module {
        width: 30%;
    }
}

.container {
    width: 900px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-panel {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.question {
    margin-bottom: 20px;
    margin: 10px;
}

.account-module h3 {
    color: darkblue;
}

.modal-header {
    font-weight: bold;
}

.app-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 3%;
}

.account-module {
    border: 2px;
    border-radius: 6px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
}

.account-module input {
    border: 1px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    padding: 10px 10px;
}

.option-btn {
    padding: 12px 24px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    border: 1px solid #ccc;
    background-color: #e0e0e0;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.option-btn:hover {
    background-color: #d6d6d6;
}

.option-btn.selected {
    background-color: #4CAF50;
    color: white;
    transform: scale(1.05);
}

button[type="submit"] {
    display: block;
    margin: 20px auto;
    width: 50%;
    padding: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.result-tile {
    flex: 1 1 calc(33.33% - 20px);
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
}

canvas {
    width: 200px;
    height: 200px;
}

@media (max-width: 1000px) {
    .result-tile {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .result-tile {
        flex: 1 1 calc(100% - 20px);
    }
}
