{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Public Survey</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a class="nav-link active" href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'result' %}"><span class="glyphicon glyphicon-stats"></span> Result</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><a href=""><span class="glyphicon glyphicon-user"></span> Hi, Admin</a></li>
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    
        {% block content %}
    
    
        {% endblock %}
</body>

</html>